<!-- This launch file launches node to simulate Karina with the VFH node -->

<launch>

<!-- Set model name -->
<arg name="model" default="burger" doc="model type burger"/>
<param name="model" value="burger"/>
<remap from="cmd_vel" to="/move_base/cmd_vel"/>

<!-- Launch gazebo_2d.launch and set world -->
<include file = "$(find karina_description)/launch/gazebo_2d.launch">
<arg name="world" value="map7"/>
</include>

<!-- Load VFH parameters -->
<!-- <rosparam file = "$(find vector_field_histogram)/param/vfhwpkarina.yaml"/> -->

<!-- Launch VFH node -->

<!-- Launch teleop node in a separate terminal -->
<!-- turtlebot3_teleop_key already has its own built in velocity smoother -->
<node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen" launch-prefix="xterm -e">
</node>


</launch>