<launch>

<!-- Launch move_base, AMCL and teleop nodes -->
<include file = "$(find vector_field_histogram)/launch/costmap.launch"/>

<!-- Load VFH parameters -->
<rosparam file = "$(find vector_field_histogram)/param/vfhwp.yaml"/>

<!-- Launch vfh node -->
<node name="vfhwp" pkg="vector_field_histogram" type="vfhwp.py" output="screen"/>

</launch>